* {
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}
.container {
  margin: auto;
  width: 75%;
}
p {
  font-size: 1.2em;
}
.poster {
  float: left;
  margin: 5px 3px;
  width: 185px;
  height: 280px;
  box-shadow: 0 10px 6px -6px #777;
}
.poster img {
  max-height: 275px;
}
.details-poster {
  float: left;
  margin: 3px;
  box-shadow: 0 10px 6px -6px #777;
}
.details {
  float: left;
  max-width: 500px;
}
.link {
  display: inline-block;
  background-color: #f44336;
  color: #ffffff;
  padding: 5px 10px;
  text-align: center;
  font-size: 24px;
  opacity: .9;
  text-decoration: none;
}
.searchbox {
  padding: 4px 4px;
  font-size: 24px;
}
.gobutton {
  padding: 5px 10px;
  text-align: center;
  font-size: 24px;
}
.searchform {
  margin-top: 10px;
}
