* {
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}
.poster {
  float: left;
  margin: 5px 3px;
  width: 185px;
  height: 280px;
  box-shadow: 0 10px 6px -6px #777;
}
.details-poster {
  float: left;
  margin: 3px;
  box-shadow: 0 10px 6px -6px #777;
}
.details {
  float: left;
  max-width: 500px;
}
